header ul {
  list-style: none;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

header ul li {
  margin: 10px;
  margin-bottom: 0;
  color: #657786;
}

header ul li:nth-child(4) {
  margin-left: auto;
  margin-right: auto;
  border-bottom: none;
  color: #1da1f2;
}
header ul li a {
  text-decoration: none;
  text-align: center;
  color: #000;
  /*font-size: 20px*/
}

header ul li a:hover {
  border-bottom: 2px solid black;
}

header input[type="search"] {
  border-radius: 20px;
  /*height: 30px;*/
  padding: 5px;
  /*font-size: 10px;*/
  margin-bottom: 4px;
}

header img {
  border-radius: 50%;
  height: 30px;
}

header #garden {
  background: #0882ff;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  margin-bottom: 7px;
}

.header__notifications {
  border: none;
  background: none;
  cursor: pointer;
}

.header__message {
  border: none;
  background: none;
  cursor: pointer;
}
